<html>
  <head>
    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
      />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
      />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Leetcode Ranking</title>
  </head>
  <body>
    <div id="app" class="p-5">
      <h1>{{ unSlugTitle }}</h1>

      <b-form-input
        v-model="filter"
        debounce="500"
        type="search"
        placeholder="Type to Search"
        ></b-form-input>

      <b-pagination
        v-model="currentPage"
        :total-rows="total"
        :per-page="perPage"
        class="mt-2"
        aria-controls="rank-table"
        ></b-pagination>

      <b-table hover
        id="rank-table"
        :fields="fields"
        :items="rank"
        :per-page="perPage"
        :current-page="currentPage"
        :busy="isBusy"
        :filter="filter"
        :filter-function="filterUser"
        :filter-included-fields="filteredOn"
        @filtered="onFiltered"
        >
        <template v-slot:table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
      </b-table>

    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          title: "",
          perPage: 25,
          currentPage: 1,
          fields: ['rank', 'username', 'country_name', 'score', 'finish_time', 'data_region'],
          rank: [],
          filter: null,
          filteredOn: ["username"],
          totalRows: null,
          isBusy: true
        },
        computed: {
          total: function() {
            return this.totalRows || this.rank.length;
          },
          unSlugTitle: function() {
            words = this.title.split("-");
            for(var i = 0 ; i < words.length ; i++){
              words[i] = words[i].charAt(0).toUpperCase() + words[i].substr(1);
            }
            return words.join(" ");
          }
        },
        methods: {
          loadData: function() {
            contest = new URLSearchParams(new URL(document.URL).search).get("contest");
            contest = contest ? contest : 'latest';

            // loading contest data
            let self = this
            axios.get('data/' + contest + '.json')
              .then(function(resp){
                self.isBusy = false;
                self.rank = resp.data;
              });

            this.title = contest;
          },
          filterUser: function(row, filter) {
            return (row.username.startsWith(filter)) ? true : false;
          },
          onFiltered: function(filteredItems) {
            this.currentPage = 1;
            this.totalRows = filteredItems.length;
          }
        },
        mounted: function() {
          this.loadData();
        }
      });
    </script>
  </body>
</html>
