<html>
  <head>
    <!-- GA -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7408997-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-7408997-11');
    </script>

    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
      />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
      />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="date.format.js"></script>

    <title>Leetcode Ranking</title>
  </head>
  <body>
    <div id="app" class="px-5 py-3">
      <b-navbar toggleable="lg" type="dark" variant="info" class="mb-2">
        <b-navbar-brand href="#">Leetcode contest ranking searcher</b-navbar-brand>
      </b-navbar>
      <a class="github-button" href="https://github.com/chiehmin" data-size="large" data-show-count="true" aria-label="Follow @chiehmin on GitHub">Follow @chiehmin</a>
      <a class="github-button" href="https://github.com/chiehmin/leetcode-ranking-search" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star chiehmin/leetcode-ranking-search on GitHub">Star</a>

      <b-container fluid class="p-0">
        <b-row align-h="between">
          <b-col sm="5">
            <b-pagination v-model="currentPage" :total-rows="total" :per-page="perPage" aria-controls="contest-table" ></b-pagination>
          </b-col>
          <b-col sm="3">
            <b-form-input v-model="filterContest" type="search" placeholder="Search a contest..."></b-form-input>
          </b-col>
          <b-col sm="4">
            <b-input-group>
              <b-form-input
                v-model="filterUser"
                type="search"
                placeholder="Search user contest history..."
                @keydown.enter.native="searchUserHistory"
              ></b-form-input>
              <b-input-group-append>
                <b-button id="user-history-submit" type="submit" variant="primary" v-on:click="searchUserHistory">Submit</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
      </b-container>

      <b-table hover id="contest-table"
        :items="contests"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
        :filter="filterContest"
        :filter-included-fields="filteredOn"
        @filtered="onFiltered"
        :busy="isBusy">
        <template v-slot:head(title)="data">
          Contest
        </template>
        <template v-slot:cell(title)="data">
          <b-link :href="data.item.href">{{ data.item.title }}</b-link>
        </template>
        <template v-slot:cell(startTime)="data">
          {{ timestampToDate(data.item.startTime) }}
        </template>
      </b-table>

      <b-modal ref="user-history-modal" no-close-on-backdrop :hide-footer="true" :title="userContestHistoryTitle">
        <b-table hover
          :items="userContestHistory"
          :fields="userContestHistoryFields"
          :busy="userContestBusy"
          sort-by="startTime"
          :sort-desc="true"
          show-empty
          empty-text="no contest data found.">
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading {{ retrievedCnt }} / {{ totalContests }}...</strong>
            </div>
          </template>
        </b-table>
      </b-modal>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          perPage: 15,
          currentPage: 1,
          contests: [],
          fields: ["title", "startTime"],
          filterContest: "",
          filteredOn: ["title"],
          isBusy: true,
          totalRows: null,
          // user contest history
          filterUser: "",
          userContestHistoryFields: [{
            key: "contest",
          }, {
            key: "rank",
            // label: "Rank (Percentile)",
          }, {
            key: "percentile"
          }, {
            key: "participants"
          }],
          retrievedCnt: 0,
          userContestHistory: [],
          userContestBusy: false
        },
        computed: {
          total: function() {
            return this.totalRows || this.contests.length;
          },
          totalContests: function() {
            return this.contests.length;
          },
          userContestHistoryTitle: function() {
            return this.filterUser + "'s Contest History";
          }
        },
        mounted: function() {
          this.contests = [{
            "title": "Global Ranking",
            "href": "global_ranking.html",
            "startTime": 0,
          }];
          axios.get('data/contests.json')
            .then(function(resp) {
              this.contests = this.contests.concat(resp.data);
              this.isBusy = false;
            }.bind(this));
        },
        methods: {
          timestampToDate: function(timestamp) {
            return new Date(timestamp * 1000).format('Y-m-d H:i:s');
          },
          onFiltered: function(filteredItems) {
            this.currentPage = 1;
            this.totalRows = filteredItems.length;
          },
          searchUserHistory: function() {
            this.userContestHistory = [];
            this.userContestBusy = true;
            this.$refs['user-history-modal'].toggle('user-history-submit');
            worker = new Worker("get_user_rank_worker.js");
            this.retrievedCnt = 0;
            worker.onmessage = function(e) {
              if(e.data.contest) {
                this.userContestHistory.push(e.data);
              }
              this.retrievedCnt++;
              if (this.retrievedCnt == this.contests.length) {
                this.userContestBusy = false;
              }
            }.bind(this);
            for (let contest of this.contests) {
              worker.postMessage([this.filterUser, contest.title, contest.startTime]);
            }
          }
        }
      });
    </script>
  </body>
</html>
